image: adoptopenjdk:11

stages:
  - build
  - test
  - docker

build-autos:
  stage: build
  script:
    - ./gradlew bootJar
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 30 days

test:
  stage: test
  script:
    - ./gradlew test
  artifacts:
    paths:
      - build/test-results/test/TEST*.xml

docker:
  stage: docker
  before_script:
    - docker info
  script:
    - docker build -t auto-docker-image .
    - docker run auto-docker-image