stages:
  -build
  -test

build-autos:
  image: adoptopnejdk:11
  stage: build
  script:
    - ./gradlew bootJar
  artifacts:
    paths:
      - .build/libs/*.jar
    expire_in: 30 days

test:
  needs: build-autos
  stage: test
  script:
    - ./gradlew test
  artifacts:
    paths:
      - build/test-results/test/TEST*.xml
